# ignore KDS stuff
kds_workspace

**/*.g_c
**/*.g_x
**/*.cwGeneratedFileSetLog
**/ProjectInfo.xml
**/Generated_Code
**/Documentation
**/Static_Code
**/Debug
**/doxy
**/language.settings.xml

# ignore editor stuff
*.swp

uC_Host/.settings/com.processorexpert.core.ide.newprojectwizard.prefs
uC_Host/.settings/com.freescale.processorexpert.core.prefs